In [1]:
import kagglehub

path = kagglehub.dataset_download("rtatman/blog-authorship-corpus")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\Antisha\.cache\kagglehub\datasets\rtatman\blog-authorship-corpus\versions\2

In [2]:
import pandas as pd

df = pd.read_csv(r"C://Users//Antisha//.cache//kagglehub//datasets//rtatman//blog-authorship-corpus//versions//2//blogtext.csv")
df

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...
...,...,...,...,...,...,...,...
681279,1713845,male,23,Student,Taurus,"01,July,2004","Dear Susan, I could write some really ..."
681280,1713845,male,23,Student,Taurus,"01,July,2004","Dear Susan, 'I have the second yeast i..."
681281,1713845,male,23,Student,Taurus,"01,July,2004","Dear Susan, Your 'boyfriend' is fuckin..."
681282,1713845,male,23,Student,Taurus,"01,July,2004","Dear Susan: Just to clarify, I am as..."
681283,1713845,male,23,Student,Taurus,"01,July,2004","Hey everybody...and Susan, You might a..."

In [ ]:
df.to_csv(os.path.join(os.getcwd(), 'data', 'gutenberg_data.csv'), index=False)